body{
    background-color: rgb(109, 109, 109);
    padding: 0;
    margin: 0;
}
header{
    background-color: gray;
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 2rem;
}
header ul {
    list-style: none;
}
header a{
    text-decoration: none;
    color: white;
}
header ul li{
    display: inline-block;
    padding:10px 50px 10px 180px;
    cursor: pointer;
    font-size: 1.5em;
    }
.chercher{
    background-color:rgb(63, 62, 62) ;
    cursor: pointer;
    color: white;
}
section{
    background-color: white;
    padding: 40px 0;
    margin: auto 300px;
}
div.container{
    border: 7px groove rgb(185, 185, 185);
    background-color: rgb(212, 212, 212);
    margin: 100px auto;
    width: 500px;
}
div.plateau{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.ligne> div{
    border: 2px dotted black;
    width: 60px;
    height: 60px;
    font-size: 3em;
    text-align: center;
}
.ligne{
    display: flex;
    flex-direction: row;
}
.vide{
    background-color: grey;
    border: 2px dotted grey;
    color: rgba(0, 0, 0, 0);
}
.vide:hover{
    background-color:transparent;
    color: rgb(238, 235, 34);
    border: 2px dotted transparent;
}
.red{
    color: rgb(255, 0, 0);
}
.blue{
    color: rgb(0, 89, 255);
}
.green{
    color: rgb(77, 153, 0);
}
footer{
    background-color: rgb(58, 58, 58);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style: none;
}
footer ul li{
    display: inline-block;
    padding:10px 200px;
    cursor: pointer;
    font-size: 1em;
}